<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <h1><%= link_to "今年の目標を発表する",new_ema_path, class: "center-block" %></h1>
    </div>
  </nav>
</header>
